/*
 *
 * MMM-HRS-PickupPlan
 *
 * Martin Andreassen
 * ISC Licensed.
 *
 * Custom here your css module
 *
 */
.tdTomorrow  {
	color : yellow;
	font-size: 28px;
//	border: 3px dashed red;
	vertical-align: middle;
	text-align:center;
}
.tdToday {
	color : red;
	font-size: 25px;
	border: 3px dashed red;
	vertical-align: middle;
	text-align:center;
}
.tdOrdi {
	min-width: 50px;
	font-size: 23px;
	width: 64px;
	color: #FFFFF0 ;
	vertical-align: middle;
}
.HRSfraksjonsikon {
        vertical-align: middle;
        height: 50px; /* Set the same height as the other icons */
        display: inline-block; /* Ensures the element is treated as a block-level for size */
        object-fit: contain; /* Ensures the image fits within the defined size */
}
.trTomorrow  {
	color : #FFFFFF;
	border: 3px dashed red;
	vertical-align: middle;
}
